<footer>
    <section id="footer_seccion1">
        <article>
            <h3> <b> Paquetes</b> </h3>
            <ul>
                <li><a href="#">Paquetes a Mérida</a></li>
                <li><a href="#">Paquetes a Veracruz <span class="etiqueta_morada">MR</span></a></li>
                <li><a href="#">Paquetes a Guanajuato <span class="etiqueta_roja">RJ</span></a></li>
                <li><a href="#">Paquetes a Cancún</a></li>
            </ul>
        </article>

        <article>
            <h3> <b> Vuelos Nacionales </b> </h3>
            <ul>
                <li><a href="#">Vuelos a Puerto Vallarta</a></li>
                <li><a href="#">Vuelos a Huatulco </a></li>
                <li><a href="#">Vuelos a Mazatlán <span class="etiqueta_naranja">NG</span></a></li>
                <li><a href="#">Vuelos a Guadalajara </a></li>
            </ul>
        </article>

        <article>
            <h3><b>Alojamientos Baratos</b></h3>
            <ul>
                <li><a href="#">Hoteles en Toluca <span class="etiqueta_verde">OF</span> </a> </li>
                <li><a href="#">Hoteles en San Diego</a></li>
                <li><a href="#">Hoteles en Ixtapa Zihuatanejo</a></li>
                <li><a href="#"> Hoteles en Acapulco</a></li>
            </ul>
        </article>
    </section>

    <section id="footer_seccion2">
        <hr>
        <article>
            <p>Copywriter 2022</p>
        </article>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</footer>